*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-color: rgb(240, 238, 238); 
}
.content {
    margin: 2rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 30px;

    input {
        padding: 5px 2px;
        
    }

    button {
        border-radius: 2px;
    }
}